<main class="p-5">
  <div class="card p-5">
    <p hidden id="test">
      Hello world
    </p>
    <span>Test</span>
  </div>
  <pre>
          kfiyg
  </pre>
{{!-- відображення блоків --}}

  <div>Block</div>
  <div>Block</div>
  <div>Block</div>
  <div>Block</div>

  {{!-- <div style="margin: 10px 50px"> --}}
  {{!-- <div style="margin: 10px 50px 100px 200px"> --}}
  {{!-- <div style="margin: 50px 0 50px 100px; background: gray";> --}}
  <div style="padding: 50px 0 50px 100px; background: gray; height: 200px">  
    <span>InLine</span>
    <span>InLine</span>
    <span>InLine</span>
    
    <span class="block">Inline-block Inline-block Inline-block Inline-block </span>
  </div>
  
  <div>Blok</div>
</main>