<div class="footer">
  <div class="footer_link">
    {{#each pages}}
      <a href="{{path}}" class="link">{{name}}</a>
    {{/each}}
  </div>
 
  <div >
    <span class="footer_copyright">{{copyright}}</span>
  </div>
</div> 